body {
    background: rgb(196, 223, 248);
    font-family: monospace;
    font-size: medium;

    width: 100vw;
    height: 100vh;
    margin: 0;

    text-align: -webkit-center;
}

header {

        
}

section {

    background: white;
    border-radius: 10px;
    padding: 10px;
    width: 500px;

    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.227)    

}
footer {

    font-style: italic;
}