body {
    background: rgb(196, 223, 248);
    font-family: monospace;
    font-size: medium;

    width: 100vw;
    height: 100vh;
    margin: 0;

    text-align: -webkit-center;
}


section {

    background: white;
    border-radius: 10px;
    padding: 10px;
    width: 500px;

    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.227)    ;

    text-align-last: left;
    display: block;

}
footer {

    font-style: italic;
}

input#butt {
    width: 60px;
    margin-top: 20px;
}

select#flista{
    width: 150px;
}